<!DOCTYPE html>
<html>
<head>

    <title>Employees</title>

</head>

<body>

<h2>Registered Employees</h2>

<table border="1" cellpadding="10">

<tr>

    <th>Photo</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Status</th>

</tr>

{% for emp in employees %}

<tr>

    <td>

        <img src="{{ emp.profile_photo.url }}"
             width="70"
             height="70">

    </td>

    <td>{{ emp.name }}</td>

    <td>{{ emp.email }}</td>

    <td>{{ emp.phone }}</td>

    <td>{{ emp.status }}</td>

</tr>

{% endfor %}

</table>

</body>
</html>